#short-about {

  .about-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .circle-photo {
      width: 80px;
      height: 80px;
      object-fit: cover;
      cursor: pointer;
      position: relative;
      transition: .3s;

      &:hover{
        opacity: .7;
      }
      img{
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      
    }
  }

  .about-text {
    @include standard-text;
   
  }
}
