#games{
    margin-top: 30px;

    .games_head{
        line-height: 1;
        @include standard-text;
        margin-bottom: 60px;
        @include breakpoint-up(medium){
            @include big-text;
            font-weight: 500;
        }
    }
    .wrapper{
        display: grid;
        grid-gap: 20px;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .game_card{
        background-color: $black-2;
        padding: 15px;
        border-radius: 5px;

        .img{
            border-radius: 3px;
            aspect-ratio: 2 / 1.5;
            margin-bottom: 20px;
            overflow: hidden;
            cursor: pointer;

            img{
                transition: .3s;
                height: 100%;
                object-fit: cover;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        .details{
            min-height: 150px;
            position: relative;
            .title{
                @include standard-text;
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 10px;
            }
            .desc{
                font-size: var(--font-sml);
            }
            .author{
                font-size: var(--font-xsml);
                position: absolute;
                bottom: 0;
                left: 0;
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}

.game_frame{
    width: 100%;
    background-color: $white;
    height: 100vh;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    .game_frame_close{
        position: absolute;
        top: 30px;
        right: 30px;
        font-weight: 500;
        background-color: $white;
        color: $black-1;
        border: 2px solid $black-1;
        cursor: pointer;
        transition: .3s;

        &:hover{
            opacity: .8;
        }
    }
    iframe{
        min-height: 100%;
        width: 100%;
        border-radius: 10px;

        header{
            display: none !important;
        }
    }
}
.game_loading{
    background-color: $black-2;
    padding: 8px 15px;
    font-size: var(--font-xsml);
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%,-130px); 
    left: 50%;
    transition: .3s;
    &_show{
        transform: translate(-50%,30px); 
    }    
}