header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    transform: translateY(-100px);
    @include breakpoint-up(large){
    padding: 25px;
    }
    animation: header 1s ease-out forwards;

    @keyframes header {
        to{
            transform: translateY(0);
        }
    }
}
.logo{
    width: 90px;
    cursor: pointer;
}
nav ul{
    display: flex;
}

