header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  transform: translateY(-100px);
  animation: header 1s ease-out forwards;
  
  @keyframes header {
    to {
      transform: translateY(0);
    }
  }
  .logo {
    width: 90px;
    cursor: pointer;
  }
  @include breakpoint-up(large) {
    padding: 25px;
  }

}
.nav_btn {
  background: none;
  border: none;
  width: 25px;
}
// =======SIDEBAR=======

.sidebar {
  position: fixed;
  top: 0;
  right: -450px;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background-color: $white;
  padding: 30px;
  z-index: 1000;
  transition: .5s ease-out;
  &_show{
    right: 0;
  }
  .nav_btn {
    margin-left: auto;
    display: block;
  }
  * {
    color: $black-1;
  }
  ul {
    margin-top: 50px;
  }
  a {
    @include standard-text;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    position: relative;
    transition: opacity .3s;
    &:hover:not(.router-link-active){
      opacity: .6;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      background-color: $black-1;
      width: 100%;
      height: 2px;
      margin-left: 20px;
      display: none;
    }
    &.router-link-active::after{
      display: inline;
    }
  }
}
