$black-1: #000;
$black-2: #121212;
$black-3: #1a1a1a;
$white: #fafafa;
$grey: #747474;
$yellow: #FFD600;
$lh-1: 0.84;

:root {
  --font-xxlg: 6rem;
  --font-xlg: 5.2rem;
  --font-lg: 5rem;
  --font-med: 3rem;
  --font-sml: 1.3rem;
  --font-xsml: 1rem;
};

@include breakpoint-up(medium){
  :root {
    --font-xxlg: 8rem;
    --font-xlg: 7rem;
    --font-lg: 7rem;
    --font-med: 3.5rem;
    --font-sml: 1.2rem;
    --font-xsml: 1.1rem;
  }
}
@include breakpoint-up(large){
  :root {
    --font-xxlg: 13rem;
    --font-xlg: 9rem;
    --font-lg: 7.3rem;
    --font-med: 3.5rem;
    --font-sml: 1.3rem;
  }
}
