@import '_breakpoints.scss';
@import '_variables.scss';

@import '_globals.scss';
@import '_header.scss';

@import '_intro.scss';
@import '_about.scss';
@import '_projects.scss';
@import '_contact.scss';
@import 'cursor.scss';

html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }